* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: #001a25;
}
#toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background: #03a9f4;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#toggle::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background: #fff;
    transform: translateY(-5px);
    transition: 0.2s;
}
#toggle::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background: #fff;
    transform: translateY(5px);
    transition: 0.2s;
}